**/bin/**
**/libs/**
**/obj/**
CMakeCache.txt
CMakeFiles
Makefile
PerfTests/CMakeFiles
PerfTests/Makefile
PerfTests/PerfMatrixTest
PerfTests/PerfVectorTest
PerfTests/cmake_install.cmake
Unittests/CMakeFiles/
Unittests/Makefile
Unittests/MatrixTests
Unittests/QuaternionTests
Unittests/VectorTests
Unittests/cmake_install.cmake
build.xml
cmake_install.cmake
googletest/
local.properties
proguard-project.txt
project.properties
